@tailwind base;
@tailwind components;
@tailwind utilities;



#hero {
  background-image: url("../public/images/desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../public/images/desk.jpg");
    background-size: center;
  }
}

.hamburguer {
  cursor: pointer;
  width: 24px;
  height: 23px;
  transition: all 0.25s;
  position: relative;
}

.hamburguer-top,
.hamburguer-middle,
.hamburguer-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburguer-middle {
  transform: translateY(7px);
}

.hamburguer-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90ged);
}

.open .hamburguer-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburguer-middle {
  display: none;
}

.open .hamburguer-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
